<br>
<div class="container card my-6" style="padding-top:20px ;">

<h6 > Search patient by Id</h6>
<input type="number">
<!-- <input type="number" [(ngModel)]="api.patient.pid" (input)="search()"> -->
<br>
<div class="card">
<table class="table ">
    <thead>
    <tr >
        
        <th scope="col">patient Name</th>
        <th scope="col">Age</th> 
        <th scope="col">Visited Doctor Name</th>   
        <th scope="col" >Date of visit</th>       
        <th scope="col">Doctor's prescription</th> 
    </tr>
</thead>
    <!-- <tr *ngFor="let row of patient">
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr> -->
    <tbody>
        <tr>
            <td>chand</td>
            <td>21</td>
            <td>harsh</td>
            <td>05/29/2021</td>
            <td>bed rest</td>
        </tr>
    </tbody>
</table>
</div>
</div>