<nav class="navbar navbar-light bg-primary ">
    <div class="container-fluid">
       <h1 style="color:aliceblue">
        <marquee behavior="alternate" direction="up" width="240%">
        <marquee direction="right" behavior="alternate" >Welcome to Hospital Dashboard!!</marquee></marquee>
      </h1>   
    </div>
  
  </nav>
  <div class="container" my-12 id="img">
    <br>
    <!-- <img src="https://www.teahub.io/photos/full/4-41820_2048x1365-amazing-4k-ultra-hd-doctors-pictures-backgrounds.jpg" width="100%" height="100%"> -->
    <div class="d-grid gap-2 col-6 mx-auto" >
      <button class="btn btn-success" type="button" style="margin-top: 70px;" routerLink="/doctor">Add Doctors</button>
      <button class="btn btn-success" type="button" routerLink="/patient">Add Patients</button>
      <button class="btn btn-success" type="button" routerLink="/doctor-name">Search Doctor</button>
      <button class="btn btn-success" type="button"routerLink="/patient-id">Search Patient</button>
    </div>
  
  </div>
  <div>
  <div id="copy-rights" >2022 &copy;Chandana K S
    <ul class="list">
        <li>
            <p><a href="https://www.instagram.com/chandanaks/"><img src="assets/images/instagram%20logo.png" class="image1"></a></p>
  
        </li>
       <li><p><a href="https://www.linkedin.com/in/chandana-k-s-a87b681a9?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B1MkMkcXFTW6EUK7PKYc8VA%3D%3D"><img src="assets\images\linkedin.png"></a></p></li> 
        <li><p><a href="mailto: chandanaks@gmail.com"><img src="assets\images\Gmail-logo.png"></a></p></li>
        
    </ul>
  </div>
  </div>
