
<nav class="navbar ">
    <div class="container-fluid">
        <h1 style="color:brown">
         <marquee behavior="alternate" direction="up" width="240%">
         <marquee direction="right" behavior="alternate" >Search Doctor Details by Name</marquee></marquee>
       </h1>   
     </div>
    </nav>
    <div>
        <button type="submit" class="btn btn-primary mx-5" id="cancel"routerLink="/home">Home</button>
    </div>
<div class="container">
    <div class="card  mx-1">
        <br>
        
<div class="input-group mb-3 ml-5 ">
    <label for="exampleInputPassword1" class="form-label mx-3 ">SelectDoctor</label>  
    <br>      
    <select id="form_need" name="need" [(ngModel)]="dname" class="form-control mx-3" required="required">
        <option value="" selected >--select your Doctor--</option>
        <option *ngFor="let doctor of doc">{{doctor.dname}}</option>
        
        </select>
        <br>
        <input type="submit" value="search" class="ml-1" (click)="getDoctorByNam()">
    
  </div>
  <div class ="  mx-5 my-4">
    <table class="table table-bordered table-success table-striped ">
        <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Doctor Specialization field</th> 
            <th>NumberOfPatientAttended</th>         
        </tr>
      </thead>
        <tbody>
        <tr >
         
            <td>{{docresponse.dname}}</td>
            <td>{{docresponse.specialist}}</td>
            <td>{{docresponse.visitedNoPatient}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
  

  <!-- <div>
       <h1>{{docresponse|json}}</h1> 

  </div> -->

  </div>