
<div class="container">
    <div class="card my-5">
        <br>
        
<div class="input-group mb-3">
    <label for="exampleInputPassword1" class="form-label mx-7">SelectDoctor</label>  
    <br>      
    <select id="form_need" name="need" [(ngModel)]="dname" class="form-control" required="required">
        <option value="" selected disabled>--select your Doctor--</option>
        <option *ngFor="let doctor of doc">{{doctor.dname}}</option>
        
        </select>
        <br>
        <input type="submit" value="search" (click)="getDoctorByName()">
    
  </div>
  </div>
  
  <div class ="card my-5">
  <table class="table ">
      <tr>
          <th>Doctor Name</th>
          <th>Doctor Specialization field</th> 
          <th>NumberOfPatientAttended</th>         
      </tr>
      <!-- <tr >
          <td>{{docresponse.dname}}</td>
          <td>{{docresponse.specialization}}</td>
          <td>{{docresponse.visitedNoPatient}}</td>
      <!-- </tr> -- -->
  </table>
  </div>
  </div>